@font-face {
  font-family: Graublau Sans Web;
  src: url(GraublauWeb.otf) format("opentype");
}

/******* Orokorrak *******/
.reveal {
    font-family: 'Open Sans', sans-serif;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'Graublau Sans Web', sans-serif;
}

ul li {
    list-style-type: none;
}

.reveal a {
    color: #B3BA33;
}
.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}
.reveal a:hover img {
  background: none;
  border-color: none;
  box-shadow: none;
}
.reveal iframe {
    margin-left: auto;
    margin-right: auto;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}

/******* Nabigazioko geziak *******/
.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
    border-bottom-color: #B3BA33;
}
.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
    border-left-color: #B3BA33;
}
.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
    border-top-color: #B3BA33;
}
.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
    border-right-color: #B3BA33;
}

.datraolat {
    color: #B3BA33;
}

/******* Sarrera *******/
.sarrera {
    height: 100%;
}
.sarrera .iametza {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
}
.sarrera .izenburua {
    color: #B3BA33;
    position: absolute;
    top: 250px;
}
.sarrera .azpi-izenburua {
    position: absolute;
    top: 365px;
}
.sarrera .ideia-batetik-errealitatera {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 400px;
}
.sarrera .nork {
    position: absolute;
    top: 550px;
    font-weight: bold;
}
.sarrera .nork a {
    color: #B3BA33;
}
.sarrera .non {
    position: absolute;
    top: 600px;
    font-size: 32px;
}
.sarrera .noiz {
    position: absolute;
    top: 650px;
    font-size: 32px;
}

/******* Zer da #datraolat? *******/
.zer-da-datraolat .nabigatzaile-logoak img {
    width: 200px;
}

/******* Zer da #datraolat? *******/
.eztabaida table td {
    border-bottom: none;
}

/******* Nondik dator ideia? *******/
.nondik-dator-ideia .homer-pentsatzen {
    width: 400px;
}
.bonbila-piztu .iametza-logoa {
    width: 75px;
    height: 75px;
    margin: 0px 0px -10px 0px;
}

/******* XKCD *******/
.xkcd .lizentzia {
    font-size: 24px;
}
.xkcd .lizentzia a {
    color: #B3BA33;
}

/******* Argitaratzea *******/
.argitaratzea .logoa {
    width: 100px;
}
.argitaratzea .balorazioa {
    vertical-align: middle;
}
/******* AIZU! *******/
.aizu-zaldieroa {
    height: 600px;
}

/******* Lizentzia *******/
.lizentzia .gplv3-logoa {
    width: 350px;
}
